<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" ></meta>
		<title>Customer List</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" ></meta>

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" th:href="@{fonts/material-design-iconic-font/css/material-design-iconic-font.min.css}" ></link>
		<!-- Favicon -->
		<link th:href="@{img/favicon.ico}" rel="shortcut icon"></link>

		<!-- Google Font -->
		<link th:href="@{https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i}" rel="stylesheet" ></link>
		<!-- STYLE CSS -->
		<link th:href="@{/css/loginstyle.css}" rel="stylesheet" ></link>
		<link th:href="@{/css/style.css}" rel="stylesheet" ></link>
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" ></link>
		<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" ></link>
		<link th:href="@{/css/flaticon.css}" rel="stylesheet" ></link>
		<link th:href="@{/css/slicknav.min.css}" rel="stylesheet" ></link>
		<link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet" ></link>
		<link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet" ></link>
		<link th:href="@{/css/animate.css}" rel="stylesheet" ></link>
	</head>
<body>

	<!-- Header section -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 text-center text-lg-left">
						<!-- logo -->
						<a href="./index.html" class="site-logo">
							<img src="img/black 1.png" alt=""></img>
						</a>
					</div>

							
							<h2 class="innerx">Welcome to Admin Dashboard</h2>							
						</div>
					</div>
				</div>
			
		
		<nav class="main-navbar">
			<div class="container">
				<!-- menu -->
				<ul class="main-menu">
				<li><a href="/adminDashboard">Dashboard</a></li>
					<li><a href="#">Store</a>
						<ul class="sub-menu">
							<li><a href="/AddProduct">Store Product Details Form</a></li>
							<li><a href="/ProductDetails">View Store Product Details</a></li>
							<li><a href="#">Reports</a></li>
						</ul>
					</li>
					<li><a href="#">Customers</a>
						<ul class="sub-menu">
							<li><a href="/customerDetails">View Customer Details</a></li>
							<li><a href="/tokenDetails">View E-mail Confirmation Token Details</a></li>
							<li><a href="#">Reports</a></li>
						</ul>
					</li>
					<li><a href="#">Employees</a>
						<ul class="sub-menu">
							<li><a href="/employee">Employee Details Form</a></li>
							<li><a href="/attendance">Attendance Marking Form</a></li>
							<li><a href="#">View Employee Details</a></li>
							<li><a href="#">View Attendance Details</a></li>
							<li><a href="#">Employee Reports</a></li>
							<li><a href="#">Attendance Reports</a></li>							
						</ul>
					</li>
					<li><a href="#">Payments</a>
						<ul class="sub-menu">
							<li><a href="/paymentDetails">View Payment Details</a></li>
							<li><a href="#">Reports</a></li>
						</ul>
					</li>
					<li><a href="#">Inventory</a>
						<ul class="sub-menu">
							<li><a href="/inventory">Inventory Products Form</a></li>
							<li><a href="/inventoryDetails">View Product Details</a></li>
							<li><a href="#">Reports</a></li>						
						</ul>
					</li>
					<li><a href="#">Deliveries</a>
						<ul class="sub-menu">
							<li><a href="/delivery">Delivery Details Form</a></li>
							<li><a href="#">Vehicle Details Form</a></li>
							<li><a href="#">View Delivery Details</a></li>
							<li><a href="#">View Vehicle Details</a></li>
							<li><a href="#">Reports</a></li>
						</ul>
					</li>
					<li><a href="#">Feedbacks</a>
						<ul class="sub-menu">
							<li><a href="/saved">View Feedback Details</a></li>
							<li><a href="#">Live Chat Form</a></li>
							<li><a href="#">Reports</a></li>						
						</ul>
					</li>
					<li><a href="#">Promotions</a>
						<ul class="sub-menu">
							<li><a href="#">Promotion Details Form</a></li>
							<li><a href="#">View Promotion Details</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Header section end -->
	
	
	<div class="table table-striped table-dark">
	<br></br>
	<!-- Search bar section begin -->
	<form th:action="@{/customerDetails}" >
    Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" class="form-control0" required></input>
    &nbsp;
    <input type="submit" value="Search" class="myButton0"></input>
    &nbsp;
    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" class="myButton0"></input>
	Full Details Report: &nbsp <a href="/customerfulldetailreport/html" onclick="myFunction()">HTML</a> | <a href="/customerfulldetailreport/pdf" onclick="myFunction()">PDF</a>
	&nbsp Graphical Report: &nbsp <a href="/customerprovincesreport/html" onclick="myFunction()">HTML</a> | <a href="/customerprovincesreport/pdf" onclick="myFunction()">PDF</a>
	</form>
	*For any reason, if you want to delete a user from the system you MUST delete the corresponding confirmation token FIRST.  (tokenId = userId + 1).
	<br></br>
	</div>
	
	<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/customerDetails}]]";
    }
	</script>
	<!-- Search bar section end -->
	
	<table class="table table-striped table-dark">
		<thead>
			<tr>
				<th >Customer ID</th>
				<th >First name</th>
				<th >Last name</th>
				<th >DOB</th>
				<th >Telephone</th>
				<th >E-mail</th>
				<th >Street</th>
				<th >City</th>
				<th >District</th>
				<th >Province</th>
			</tr>
		</thead>
		<tbody>	
			<tr th:if="${customerList.empty}">
            	<td colspan="2"> No Registered Customers </td>
      	    </tr>
			<tr th:each="Customer : ${customerList}">
				<td width="20px" th:text="${Customer.userid}"></td>
				<td th:text="${Customer.firstName}"></td>
				<td th:text="${Customer.lastName}"></td>
				<td th:text="${Customer.dob}"></td>
				<td th:text="${Customer.telephone}"></td>
				<td th:text="${Customer.emailId}"></td>
				<td th:text="${Customer.street}"></td>
				<td th:text="${Customer.city}"></td>
				<td th:text="${Customer.district}"></td>
				<td th:text="${Customer.province}"></td>
				<td><a th:href="@{/editCustomer/{id}(id=${Customer.emailId})}" class="myButton0" role="button">Edit</a></td>
				<td><a th:href="@{/deleteCustomer/{id}(id=${Customer.emailId})}" class="myButton0" role="button">Delete</a></td>
    		</tr>
    	</tbody>	
	</table>	





	<!--====== Javascripts & Jquery ======-->
	<script>
		function myFunction() {
 		 alert("Report generated in path: C:/Users/User/Desktop/ARIAT Reports/Customer Reports");
		}
	</script>
	<script type="text/javascript" src="@{/js/jquery-3.2.1.min.js}"></script>
	<script type="text/javascript" src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="@{/js/jquery.slicknav.min.js}"></script>
	<script type="text/javascript" src="@{/js/owl.carousel.min.js}"></script>
	<script type="text/javascript" src="@{/js/jquery.nicescroll.min.js}"></script>
	<script type="text/javascript" src="@{/js/jquery.zoom.min.js}"></script>
	<script type="text/javascript" src="@{/js/jquery-ui.min.js}"></script>
	<script type="text/javascript" src="@{/js/main.js}"></script>
</body>
</html>