<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" ></meta>
		<title>Registration</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" ></meta>

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" th:href="@{fonts/material-design-iconic-font/css/material-design-iconic-font.min.css}" ></link>
		<!-- Favicon -->
		<link th:href="@{img/favicon.ico}" rel="shortcut icon"></link>

		<!-- Google Font -->
		<link th:href="@{https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i}" rel="stylesheet" ></link>
		<!-- STYLE CSS -->
		<link th:href="@{/css/regstyle.css}" rel="stylesheet" ></link>
		<link th:href="@{/css/style.css}" rel="stylesheet" ></link>
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" ></link>
		<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" ></link>
		<link th:href="@{/css/flaticon.css}" rel="stylesheet" ></link>
		<link th:href="@{/css/slicknav.min.css}" rel="stylesheet" ></link>
		<link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet" ></link>
		<link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet" ></link>
		<link th:href="@{/css/animate.css}" rel="stylesheet" ></link>
	</head>

	<body>


	<!-- Header section -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 text-center text-lg-left">
						<!-- logo -->
						<a href="./index.html" class="site-logo">
							<img src="img/black 1.png" alt=""></img>
						</a>
					</div>
					<div class="col-xl-6 col-lg-5">
						<form class="header-search-form">
							<input type="text" placeholder="Search ...."></input>
							<button><i class="flaticon-search"></i></button>
						</form>
					</div>
					<div class="col-xl-4 col-lg-10">
						<div class="user-panel">
							<div class="up-item">
								<i class="flaticon-profile"></i>
								<a href="/login">Sign</a> In or <a href="/register">Create Account</a>
							</div>
							<div class="up-item">
								<div class="shopping-card">
									<i class="flaticon-bag"></i>
									<span>0</span>
								</div>
								<a href="/cart">Shopping Cart</a>
							</div>
							<div class="up-item">
								<div>
									<i class="flaticon-profile"></i>
								</div>
								<a href="/adminDashboard">Admin </a>/<a href="/customerAccount"> User Account</a>
							</div>
				</div>
			</div>
		</div>
		</div>
		</div>
		<nav class="main-navbar">
			<div class="container">
				<!-- menu -->
				<ul class="main-menu">
					<li><a href="/Index">Home</a></li>
					<li><a href="/Category">Categories</a></li>
					<li><a href="#">Live-Chat
						<span class="new">New</span>
					</a></li>
					<li><a href="#">Pages</a>
						<ul class="sub-menu">
							<li><a href="./product.html">Product Page</a></li>
							<li><a href="./category.html">Category Page</a></li>
							<li><a href="./cart.html">Cart Page</a></li>
							<li><a href="./checkout.html">Checkout Page</a></li>
							<li><a href="./contact.html">Contact Page</a></li>
						</ul>
					</li>
					<li><a href="/wishlist">Wish List</a></li>
					<li><a href="/rating">Feedback</a></li>
					<li><a href="/customerAccount">About us</a></li>
					<li><a href="#">Contact us</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Header section end -->

		<div class="wrapper" style="background-image: url('images/bg-registration-form-2.jpg');">
			<div class="inner">
				<form action="#" th:action="@{/register}" th:object="${user}" method="post">
					<h3>Registration Form</h3>
					<div class="form-group">
						<div class="form-wrapper">
							<label for="firstName">First Name</label>
							<input th:field="*{firstName}" type="text" name="firstName" class="form-control" required></input>
						</div>
						<div class="form-wrapper">
							<label for="lastName">Last Name</label>
							<input th:field="*{lastName}" type="text" name="lastName" class="form-control" required></input>
						</div>
					</div>
					<div class="form-wrapper">
						<label for="dob">Date of Birth</label>
						<input th:field="*{dob}" type="date" name="dob" class="form-control" required></input>
					</div>
					<div class="form-wrapper">
						<label for="telephone">Telephone</label>
						<input th:field="*{telephone}" type="text" name="telephone" class="form-control" pattern="[0-9]{10}" title="0**********" required></input>
					</div>
					<div class="form-wrapper">
						<label for="emailId">Email</label>
						<input th:field="*{emailId}" type="email" name="emailId" class="form-control"  placeholder="abc@ariat.com" required></input>
					</div>
					<div class="form-group">
						<div class="form-wrapper">
							<label for="street">Street</label>
							<input th:field="*{street}" type="text" name="street" class="form-control" required></input>
						</div>
						<div class="form-wrapper">
							<label for="city">City</label>
							<input th:field="*{city}" type="text" name="city" class="form-control" required></input>
						</div>
					</div>
					<div class="form-group">
						<div class="form-wrapper">
							<label for="district">District</label>
							<input th:field="*{district}" type="text" name="district" class="form-control" required></input>
						</div>
						<div class="form-wrapper">
							<label for="province">Province</label>
							<input th:field="*{province}" type="text" name="province" class="form-control" required></input>
						</div>
					</div>
					<div class="form-group">
						<div class="form-wrapper">
							<label for="password">Password</label>
							<input th:field="*{password}" type="password" name="password" class="form-control" id="pass" title="Should contain 8 characters with upper & lower case letters, digits & special characters"></input>
						</div>
						<div class="form-wrapper">
							<label for="">Confirm Password</label>
							<input type="password" class="form-control" id="confirmpass" title="Should contain 8 characters with upper & lower case letters, digits & special characters"></input>
						</div>
					</div>
					<label>
							*By Registering, you agree to T&C.
					</label>
					<button id="register" onclick="return test_pass()">Register Now</button>				

				
				</form>
			</div>
		</div>
		
	<!-- Footer section -->
	<section class="footer-section">
		<div class="container">
			<div class="footer-logo text-center">
				<a href="index.html"><img src="./img/white 1.png" alt=""></img></a>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>About</h2>
						<p>Quality fasion products from our factory outlet.</p>
						<img src="img/cards.png" alt=""></img>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>Questions</h2>
						<ul>
							<li><a href="">About Us</a></li>
							<li><a href="">Track Orders</a></li>
							<li><a href="">Returns</a></li>
							<li><a href="">Jobs</a></li>
							<li><a href="">Shipping</a></li>
							<li><a href="">Blog</a></li>
						</ul>
						<ul>
							<li><a href="">Partners</a></li>
							<li><a href="">Bloggers</a></li>
							<li><a href="">Support</a></li>
							<li><a href="">Terms of Use</a></li>
							<li><a href="">Press</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>Questions</h2>
						<div class="fw-latest-post-widget">
							<div class="lp-item">
								<div class="lp-thumb set-bg" data-setbg="img/blog-thumbs/1.jpg"></div>
								<div class="lp-content">
									<h6>what shoes to wear</h6>
									<span>Oct 21, 2018</span>
									<a href="#" class="readmore">Read More</a>
								</div>
							</div>
							<div class="lp-item">
								<div class="lp-thumb set-bg" data-setbg="img/blog-thumbs/2.jpg"></div>
								<div class="lp-content">
									<h6>trends this year</h6>
									<span>Oct 21, 2018</span>
									<a href="#" class="readmore">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget contact-widget">
						<h2>Questions</h2>
						<div class="con-info">
							<span>C.</span>
							<p>Your Company Ltd </p>
						</div>
						<div class="con-info">
							<span>B.</span>
							<p>1481 Creekside Lane  Avila Beach, CA 93424, P.O. BOX 68 </p>
						</div>
						<div class="con-info">
							<span>T.</span>
							<p>+53 345 7953 32453</p>
						</div>
						<div class="con-info">
							<span>E.</span>
							<p>office@youremail.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="social-links-warp">
			<div class="container">
				<div class="social-links">
					<a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
					<a href="" class="google-plus"><i class="fa fa-google-plus"></i><span>g+plus</span></a>
					<a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
					<a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
					<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
					<a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
				</div>

			</div>
		</div>
	</section>
	<!-- Footer section end -->



	<!--====== Javascripts & Jquery ======-->
	
	<script type="text/javascript"> 
        function test_pass() { 
            var confirmpass = document.getElementById("confirmpass").value; 
            var pass = 
                document.getElementById("pass").value; 
            if (pass.match(/[a-z]/g) && pass.match( 
                    /[A-Z]/g) && pass.match( 
                    /[0-9]/g) && pass.match( 
                    /[^a-zA-Z\d]/g) && pass.length >= 8 && pass==confirmpass) {
            	return true;
            }
			
            else if (pass.match(/[a-z]/g) && pass.match( 
            /[A-Z]/g) && pass.match( 
            /[0-9]/g) && pass.match( 
            /[^a-zA-Z\d]/g) && pass.length >= 8 && pass!=confirmpass) {
            	alert("Passwords do not match.");
                return false;
            }
            else {
            	alert("Password should contain atleast 8 characters which include atleast 1 upper-case letter, 1 lower-case letter, 1 digit and 1 special character.");
                return false;
            }
                 
            
        } 
    </script> 
	<script type="text/javascript" src="@{/js/jquery-3.2.1.min.js}"></script>
	<script type="text/javascript" src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="@{/js/jquery.slicknav.min.js}"></script>
	<script type="text/javascript" src="@{/js/owl.carousel.min.js}"></script>
	<script type="text/javascript" src="@{/js/jquery.nicescroll.min.js}"></script>
	<script type="text/javascript" src="@{/js/jquery.zoom.min.js}"></script>
	<script type="text/javascript" src="@{/js/jquery-ui.min.js}"></script>
	<script type="text/javascript" src="@{/js/main.js}"></script>
	</body>
</html>